<!-- formulaire pour créer un post -->
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Notre Blog 
  link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' rel='stylesheet')
  style
       include ../public/css/style.css
header Notre Blog
.blank  
.home
  a(href='/')
    i.icon-home
section
  p Nouvau post
  if post
    form(action='/post/update/'+post.id method='POST')
        label Titre
        input(type='text' name='titre' placeholder='Titre' value=post.titre)
        label Auteur
        input(type='text' name='auteur' placeholder='Auteur' value=post.auteur)
        label R&eacute;sum&eacute;
        textarea(name='resume' rows='2') #{post.resume}
        label Contenu -HTML- 
        textarea(name='content' rows='12')| #{post.content}
        input(type='submit' value='Enregistrer')
  else
    form(action='/' method='POST')
        label Titre
        input(type='text' name='titre' placeholder='Titre' value="")
        label Auteur
        input(type='text' name='auteur' placeholder='Auteur' value='')
        label R&eacute;sum&eacute;
        textarea(name='resume' rows='2') 
        label Contenu -HTML- 
        textarea(name='content' rows='12')
        | 
        input(type='submit' value='Enregistrer')
